#sidebar {
  background-color: @background-color;
}

.sidebar {
  padding-top: 4px !important;
  padding-bottom: 4px;
}

.sidebar-footer {
  position: absolute;
  bottom: 4px;
//  padding: 4px;
}

.sidebar-menu-lg {
}

.sidebar-menu-xs {
  text-align: center;
}

.sidebar-menu-line {
  line-height: 20px !important;
}

.sidebar-menu-xs .sidebar-menu-line {
  line-height: 28px !important;
}

.sidebar-menu {
  color: @light-text-color;
  background-color: transparent;
//  text-shadow:0 0 2px #000000;
  padding: 2px !important;
}

.sidebar-menu.active {
  color: @text-color;
  background-color: @control-color;
//  text-shadow:0 0 2px #000000;
  padding: 2px !important;
}

.sidebar-menu:hover {
  color: whitesmoke !important;
  background-color: @darker-gray-color !important;
}

.sidebar-menu-icon {
  font-size: medium;
  padding-right: 8px;
  vertical-align: middle;
}

.sidebar-menu-xs .sidebar-menu-icon {
//  font-size: small;
  padding-right: 0px;
  vertical-align: middle;
}

.sidebar-menu-label {
  font-size: small;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
  }
}
