.navbar-main {
  margin-bottom: 0px;
  border-width: 0px;
  font-family: arial,sans-serif;
  top: 0px;
  position: fixed;
  width: inherit;
}

.navbar-toggle, .close {
  outline: 0;
}

.navbar-nav > li.dropdown {
  padding-right: 15px;
}
