// checklistbox.html

.checklistbox.btn-group-vertical(data-toggle="buttons", name="{{field.domName('input', $index)}}", ng-disabled="!isEditing($index) || fields[{%fieldIndex%}].disabled", attributes="fields[{%fieldIndex%}]", style="width: 100%;")

  label.btn.btn-default(ng-repeat="item in fields[{%fieldIndex%}].options", ng-click="item.checked = !item.checked; row[fn] = checkItem(item, row[fn]);")

    input(type="radio", name="{{fields[{%fieldIndex%}].domName('input', $index)}}", value="{{item.value}}")

    span.pull-left.cic(ng-class="{ 'cic-checkbox-checked text-info': row[fn].indexOf(item.value) != -1, 'cic-checkbox-unchecked text-muted': row[fn].indexOf(item.value) == -1}", style="font-size: 18px; margin-right: 8px;")
    | {{item.label}}
