// form.html

.dyn-form(ng-controller="dynFormCtrl")

  .container-fluid(container="form.container")

    .row
      include form_head

    .row-fluid

      ng-form(name="{{domName()}}", ng-class="getClass()", role="form", novalidate)
        span(ng-repeat="row in rows track by $index")
          // <row>

    .row-fluid

    .row
      include form_foot
