// input.html

div(style="min-width:100%;", attributes="fields[{%fieldIndex%}]")

  input.form-control.input(name="{{fields[{%fieldIndex%}].domName('input', $index)}}", ng-model="row[fn]", ng-class="{'static': !isEditing($index)}", ng-disabled="!isEditing($index) || fields[{%fieldIndex%}].disabled", type="text", ng-change="validateField(fields[{%fieldIndex%}], $index)", ng-blur="validateField(fields[{%fieldIndex%}], $index)")

  span(ng-show="isEditing($index)")
