div(ng-controller="dynModalCtrl")
  .modal-header(ng-if="form.label")
    button.close(type="button", ng-click="modalCancel()") &times;
    h4.modal-title {{form.label}}

  .modal-body
    .container-fluid
      .row-fluid
        ng-form(name="{{domName()}}", ng-class="getClass()", role="form", ng-repeat="row in rows track by $index", novalidate)
          // <row>
      .row-fluid

  .modal-footer(ng-if="form.buttons || form.buttons.length > 0")
    input.btn.btn-default(ng-if="!form.buttons || form.buttons.length >= 2", type='button', ng-click="modalCancel()", value="{{form.buttons ? form.buttons[1] : 'Cancel'}}")
    //span(style="padding:4px;")
    input.btn.btn-primary(type="button", ng-click="modalOk()", value="{{form.buttons ? form.buttons[0] : 'OK'}}", ng-disabled="hasErrors()")
