// radiobutton.html

.radiobuttons.btn-group(data-toggle="buttons", name="{{field.domName('input', $index)}}", ng-disabled="!isEditing($index) || fields[{%fieldIndex%}].disabled", attributes="fields[{%fieldIndex%}]")

  label.btn.btn-default.btn-sm(ng-repeat="item in fields[{%fieldIndex%}].options", ng-class="{ 'active': row.{%fieldName%} == item.value }", ng-click="row.{%fieldName%} = item.value")

    input(type="radio", name="{{fn}}", id="{{fields[{%fieldIndex%}].domName('input', $index)}}", value="{{item.value}}")
    | {{item.label}}
