// row_display.html

.row-fluid(ng-controller="dynFormObjectCtrl", ng-init="fi = {%fieldIndex%}; fn = '{%fieldName%}';", ng-show="fields[{%fieldIndex%}].type === 'tabs' || fields[{%fieldIndex%}].tab == form.activeTab")
  // <fields>
