// row_form.html

.row-fluid(ng-controller="dynFormObjectCtrl", ng-init="fi = {%fieldIndex%}; fn = '{%fieldName%}';", ng-show="fields[{%fieldIndex%}].type === 'tabs' || fields[{%fieldIndex%}].tab == form.activeTab")
  .form-group
    // <fields>
.row-fluid(ng-controller="dynFormObjectCtrl", ng-init="fi = {%fieldIndex%}; fn = '{%fieldName%}';", ng-show="fields[{%fieldIndex%}].type === 'tabs' || fields[{%fieldIndex%}].tab == form.activeTab")
  .form-group
    // <fields>
