// row_modal.html

.row-fluid(ng-controller="dynFormObjectCtrl", ng-init="fn = '{%fieldName%}';", ng-show="fields[{%fieldIndex%}].type === 'tabs' || fields[{%fieldIndex%}].tab == form.activeTab")
  .form-group
    // <fields>
