// select.html

select(selectize="{{fields[{%fieldIndex%}].config}}", name="{{form.domName('input', $index)}}", field="fields[{%fieldIndex%}]", ng-model="row[fn]", ng-class="{'static': !isEditing($index)}", ng-disabled="!isEditing($index) || fields[{%fieldIndex%}].disabled", attributes="fields[{%fieldIndex%}]", ng-placeholder="fields[{%fieldIndex%}].placeholder", options="{{fields[{%fieldIndex%}].options}}", style="width: 100% !important;")
