// subform.html

div(ng-controller="dynFormCtrl", ng-init="fi = {%fieldIndex%}; fn = '{%fieldName%}';")
  div(ng-init="subformInit()")

    .panel-subform
      .panel.panel-default(container="form.container")
        .panel-heading.accordion-toggle.collapsed(data-toggle="collapse", data-target="#{{$parent.fields[fi].domId('input', $index)}}")
          .panel-title
            | {{$parent.fields[fi].label}}...

        .panel-collapse.collapse(id="{{$parent.fields[fi].domId('input', $index)}}")
          .panel-body
            .container-fluid
              .row-fluid
                div(ng-if="angular.isArray($parent.row[$parent.fn])")
                  ng-form(name="{{domName()}}", ng-class="getClass()", role="form", ng-repeat="row in $parent.row[$parent.fn] track by $index", novalidate)
                    // <row>

                div(ng-if="!angular.isArray($parent.row[$parent.fn])")
                  ng-form(name="{{domName()}}", ng-class="getClass()", role="form", ng-init="row = $parent.row[$parent.fn]; $index = 0", novalidate)
                    // <row>

              .row-fluid

