// table.html

div(ng-controller="dynTableCtrl", ng-init="srow = -1", container="form.container")
  .row
    include table_head

  .row
    .table-responsive
      table.table.table-striped.table-hover
        thead
          tr
            th(width="1%")
              a(ng-click="filtersVisible = !filtersVisible")
                i.cic.cic-search4
            th.table-header-text(ng-repeat="f in fields", width="{{f.width}}", custom-sort, order="f.fieldname", sort="sort", ng-show="f.label") {{f.label}}
            th.table-header-text(ng-show="hasActions()", width="10%") Actions

          tr(ng-show="filtersVisible")
            th
            th.table-header-filter(ng-repeat="f in fields", ng-show="f.label")
              input.form-control.input-small.table-input-filter(placeholder="ex: >10, >#20140101", ng-model="filters[f.fieldname]", ng-change="filtersChanged()")

        tfoot
          tr
            td
            td.table-footer-text(ng-repeat="f in fields", ng-show="f.label") {{f.sum ? $eval(f.sum) : ""}}
            td

        tbody
          tr(ng-repeat="row in rows track by $index", ng-mouseover="srow = $index", ng-mouseleave="srow = -1")

            // Checkbox column
            td(ng-class="{'modified': hasState('m', $index)}", style="padding-bottom:0 !important")
              //.form-control.static(style="float:left; width:14px; padding-left:4px !important; padding-top:8px !important;")
              //  i.fa.fa-unlink(ng-show="hasState('m', $index)")
              //input.form-control.borderless(id="checkbox_{{$index}}", type="checkbox", style="float:right; width:24px; margin:0px !important;")
              input.form-control.borderless(name="{{domName() + '_' + $index + '_check'}}", type="checkbox", style="margin:0px !important;")

            // <row>

            // Actions column
            td(ng-show="hasActions()", style="padding-bottom:0 !important")
              div(ng-show="srow == $index")
                .btn-group-sm(ng-show="!isEditing($index)")
                  .btn(ng-show="form.canEdit")
                    i.cic.cic-edit32(type="button", ng-click="edit($index)", style="font-size: 1.5em;")
                  .btn(ng-show="form.canInsert")
                    i.cic.cic-plus32(type="button", ng-click="insert($index)", style="font-size: 1.5em;")
                  .btn(ng-show="form.canDelete")
                    i.cic.cic-trash4(type="button", ng-click="delete($index)", style="font-size: 1.5em;")
                  //.btn(ng-show="form.canMove")
                  //  i.cic.cic-chevron-up(type="button", ng-click="moveup($index)", style="font-size: 1.5em;")
                  //.btn(ng-show="form.canMove")
                  //  i.cic.cic-chevron-down(type="button", ng-click="movedown($index)", style="font-size: 1.5em;")

                .btn-group-sm(ng-show="isEditing($index)")
                  .btn
                    i.cic.cic-disk3(type="button", ng-click="save($index)", style="font-size: 1.5em;")
                  .btn
                    i.cic.cic-cancel32(type="button", ng-click="cancel($index)", style="font-size: 1.5em;")

  .row
    include table_foot
