textarea.form-control(name="{{fields[fieldIndex].domName('input', $index)}}", ng-model="row[fields[fieldIndex].fieldname]", ng-class="{'static': !isEditing($index)}", ng-disabled="!isEditing($index)", attributes="fields[fieldIndex]", ng-change="validateField(fields[fieldIndex], $index)", ng-blur="validateField(fields[fieldIndex], $index)")
