// twolist.html

div(ng-class="{'input-group': isEditing($index)}", style="min-width:100%;", attributes="fields[{%fieldIndex%}]")

  select(multiple="multiple", name="{{fields[{%fieldIndex%}].domName('input', $index)}}", ng-class="{'static': !isEditing($index)}", ng-disabled="!isEditing($index) || fields[{%fieldIndex%}].disabled", ng-model="row.{%fieldName%}", twolist, field="fields[{%fieldIndex%}]", options="fields[{%fieldIndex%}].options")

    option(ng-repeat="item in options", value="{{item.value}}") {{item.label}}
  //pre {{row.{%fieldName%}}}
