div(data-extend-template="/partials/decorators/form-group-layout.html")

  div(data-block="content")
    div
      label.control-label(ng-show='showTitle()') {{form.title}}

    .btn-group
      label.btn(class="{{ (item.value === $$value$$) ? form.style.selected || 'btn-primary' : form.style.unselected || 'btn-primary'; }}", ng-class='{ active: item.value === $$value$$ }', ng-repeat='item in form.titleMap')
        input(dyn-model-value, type='radio', sf-changed='form', style='display: none;', ng-disabled='form.readonly', ng-model='$$value$$', ng-model-options='form.ngModelOptions', ng-value='item.value')
        span(ng-bind-html='item.name')
