@grid-gutter-width: 10px;

@modal-inner-padding: 10px;

@media (max-width: 768px) {

  .column .padding {
    padding: 8px;
  }

  .full{
	padding-top: 0px;
  }

  .searchclear {
    right: 2px !important;
  }
}

