@reverse: #fff;
@main_color: #688ec0;
@dark: #999999;

.btn-download {
  color: @reverse;
  background-color: transparent;
  border-color: @reverse;
  min-width: 200px;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: lighten(@main_color, 5%);
    background-color: @reverse;
  }
  .open & {
    &.dropdown-toggle {
      color: lighten(@main_color, 5%);
      background-color: @reverse;
    }
  }
}

.column-index {
  height: 100%;
  overflow: auto;
  zoom: 1;
  padding: 0px;
}

.column-index .padding-index {
  padding: 0px;
}

.full-index {
//  padding-top: 8px;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid @gray-lighter;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.main-content {
}

.banner {
  background-color: @main_color;
  color: #fff;
  color: rgba(255,255,255,.8);
  text-align: center;
  padding: 50px 0 0;

  h2 {
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 12px;
  }

  .btn-download {
    margin-bottom: 30px;
  }

  .preview-img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
}

.features {
  padding: 50px 0;
  background-color: #dde5f1;
  border-bottom: 1px solid @gray-lighter;

  > header {
    padding: 0 20px;
    margin-bottom: 60px;
  }

  header h3 {
    text-transform: uppercase;
  }

  .feature-item {
    margin-bottom: 50px;
    > i {
      font-size: 42px;
      line-height: 100px;
      height: 100px;
      width: 100px;
      padding: 25px;
      border-radius: 50%;
      border: 2px solid @gray-light;
      color: #688ec0;
    }

    .desc {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      color: @gray-light;
    }
  }
}

.details {
  .list-details {
    margin: 0;
    > li {
      text-align: center;
      padding: 100px 0;
      background-color: #f2f4f8;
      &.alt {
        background-color: @gray-light;
        @media (min-width: @screen-sm) {
          .detail-item {
            margin-right: 0;
            margin-left: 50%;

            .detail-desc {
              margin-right: 0;
              margin-left: -100%;
              float: left;
            }
          }
        }
      }

      @media (min-width: @screen-sm) {
        text-align: left;

        h2 {
          font-size: 48px;
          line-height: 70px;
        }

        .detail-item {
          margin-right: 50%;

          .detail-desc {
            margin-right: -100%;
            float: right;
          }
        }

        .detail-desc {
          padding: 10px 15px 0;
          width: 100%;
          max-width: 100%;
          font-size: 16px;
        }
      }

      > .container {
        @media (min-width: @screen-lg) {
          width: 970px;
        }
      }

      .detail-desc {
        margin-bottom: 50px;
      }

      .detail-img {
        padding: 0 15px;
        img {
          display: inline-block;
          max-width: 100%;
        }
      }
    }
  }
}

.pricing {
//  background-color: #f2f4f8;
  padding: 48px 0px 48px 0px !important;
}

.pricing-table .plan {
  background: #fff;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  margin: 0 0 20px;
  position: relative;
  z-index: 1;
}

.pricing-table .plan:hover {
  border-color: #ccc #ccc #bbb;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.pricing-table .plan-name {
  padding: 30px 0;
}

.pricing-table .plan-name h2 {
  margin: 0;
  font-weight: 400;
}

.pricing-table .plan-name h2 + p {
  margin: 10px 15px 0;
}

.pricing-table .plan-price {
  background: #fafafa;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}

.pricing-table .plan-price b {
  font-size: 24px;
  font-weight: 400;
}

.pricing-table .plan-price b b {
  font-size: 16px;
  font-weight: 500;
}

.pricing-table .prefered .plan-price {
  background: #fff7e3;
  color: #b0a996;
}

.pricing-table .prefered .plan-price b {
  color: #d95246;
}

.pricing-table .plan-details {
  padding: 0 10px;
}

.pricing-table .plan-details > div {
  background: #fff;
  padding: 15px;
}

.pricing-table .plan-details > div + div {
  border-top: 1px solid #e5e5e5;
}

.pricing-table .plan-action {
  background: #fafafa;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e5e5e5;
  padding: 15px;
}

.testimonials {
  background-color: @main_color;
  padding: 10px 10px;
  color: #fff;
  color: rgba(255,255,255,.8);

  .carousel {
    max-width: 970px;
    margin: 0 auto;
    padding: 80px;

    .carousel-indicators li {
      border: 1px solid @gray-lighter;
      border: 1px solid rgba(255,255,255,.3);
      &.active {
        background-color: @gray-lighter;
        background-color: rgba(255,255,255,.6);
      }
    }

    .carousel-inner {
      font-size: 18px;
      min-height: 125px;

      small {
        display: block;
        margin-top: 30px;
        font-size: 12px;
      }
    }
  }
}

.footer {
  background-color: @dark;
  padding: 30px 0;
  font-size: 12px;
}
