.bluedarker {
	color: #44575c;
}

.bluedark {
	color: #718e96;
}

.blue {
	color: #acbdc1;
}

.bluelight {
	color: #d8e0e2;
}

.bluelighter {
	color: #f9fcfe;
}

.greendarker {
	color: #4e5e3f;
}

.greendark {
	color: #8da578;
}

.green {
	color: #c1ceb5;
}

.greenlight {
	color: #dbe2d4;
}

.greenlighter {
	color: #e7ece3;
}

.reddarker {
	color: #5c1c22;
}

.reddark {
	color: #ba3945;
}

.red {
	color: #d88189;
}

.redlight {
	color: #f0cfd2;
}

.redligther {
	color: #f7e8e7;
}

.orangedarker {
	color: #8d4700;
}

.orangedark {
	color: #d96d00;
}

.orange {
	color: #ffad5a;
}

.orangelight {
	color: #ffe0c0;
}

.orangelighter {
	color: #fff9f3;
}

.yellowdarker {
	color: #5a5100;
}

.yellowdark {
	color: #d9c400;
}

.yellow {
	color: #ffef5a;
}

.yellowlight {
	color: #fff9c0;
}

.yellowlighter {
	color: #fffef3;
}

.black {
	color: #2f3c3f;
}

.graydark {
	color: #85827d;
}

.gray {
	color: #b6b5b2;
}

.graylight {
	color: #e8e7e6;
}

.white {
	color: #f6f6f6;
}

