extend layout

block stylesheets
  link(rel='stylesheet', href='/css/index.css')

block content

  .container#forgot

    #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2

      .panel.panel-default

        .panel-heading
          .panel-title Forgot password

        .panel-body

          #login-alert.alert.alert-danger.col-sm-12(style='display: none;')

          form#loginform.form-horizontal(role='form', action="/forgot", method="post")
            input(type="hidden", name="_csrf", value="#{csrftoken}")

            .form-group
              label.col-md-4.control-label(for='username') Username
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.cic.cic-user32
                  input#login-username.form-control(type='text', name='username', value='', placeholder='Username', required, autofocus)

            .form-group
              .col-md-offset-4.col-md-8
                input.btn.btn-primary.btn-block(type="submit", value="Submit")

            .form-group
              div(style='border-top: 1px solid#888; padding-top: 15px;')
                div.text-right
                  | Already a member?&nbsp;
                  a(href='/login') Sign in
                div.text-right
                  | Don't have an account?&nbsp;
                  a(href="/signup") Register Here
