extends layout

block stylesheets
  link(rel='stylesheet', href='/css/index.css')

block head

block head_javascripts

block content

  .main-content#index-page

    .banner#banner

      .container

        h2 Cloud-Based, Scalable, Mobile, Secure
        a.btn.btn-download.btn-lg(href="http://www.arianesoft.ca/glassfrog/demo", target="_blank") Try the demo
        br
        img.preview-img(src="/img/preview-simple.png", alt="preview")


    .features#features

      header
        h3.text-center Personal and small-business cloud-based services done right.

      .container
        .row
          .feature-item.col-md-4.text-center
            i.cic.cic-mobile4
            h3 Responsive Layout
            .desc
              p Auto-adjusting layout according to screen size. Looks and works good on desktop, tablet and phone.
          .feature-item.col-md-4.text-center
            i.cic.cic-cloud72
            h3 Cloud-Based
            .desc
              p Work from anywhere in the world from any device. Your data is securely stored online and available whenever you need it.
          .feature-item.col-md-4.text-center
            i.cic.cic-shield
            h3 Secure
            .desc
              p We use bleeding edge web technologies such as High-performance SSD, 6 Datacenters in 3 Regions (Asia Pacific, North America and Europe), Load balancing for scalability and automatic backups*.

        .row
          .feature-item.col-md-4.text-center
            i.cic.cic-invoice
            h3 Invoicing
            .desc
              p Auto adjust layout according to screen size. Looks good on desktop, tablet and phone.
          .feature-item.col-md-4.text-center
            i.cic.cic-box
            h3 Inventory Management
            .desc
              p Wide and boxed layout.
          .feature-item.col-md-4.text-center
            i.cic.cic-clock22
            h3 Time Management
            .desc
              p Single Page Application Built with AngularJS.

        .row
          .feature-item.col-md-4.text-center
            i.cic.cic-store
            h3 Online Store
            .desc
              p Auto adjust layout according to screen size. Looks good on desktop, tablet and phone.
          .feature-item.col-md-4.text-center
            i.cic.cic-users5
            h3 Contacts Management
            .desc
              p Wide and boxed layout.
          .feature-item.col-md-4.text-center
            i.cic.cic-cash
            h3 Purchases
            .desc
              p Single Page Application Built with AngularJS.


      .details#details

        ul.list-details.list-unstyled
          li
            .container
              .detail-item.clearfix
                .detail-desc
                  h2 Responsive Layout
                  p Auto adjust layout according to screen size.
                .detail-img
                  img(src='/img/feat-responsive-alt.png', alt='img')
          li.alt
            .container
              .detail-item.clearfix
                .detail-desc
                  h2 Invoicing
                  p Wide and boxed layou.
                .detail-img
                  img(src='/img/feat-layouts.png', alt='img')
          li
            .container
              .detail-item.clearfix
                .detail-desc
                  h2 Inventory Management
                  p Single Page Application Built with AngularJS.
                .detail-img
                  img(src='/img/feat-app2.png', alt='img')

          li.alt
            .container
              .detail-item.clearfix
                .detail-desc
                  h2 Time Management
                  p Auto adjust layout according to screen size.
                .detail-img
                  img(src='/img/feat-responsive-alt.png', alt='img')

          li
            .container
              .detail-item.clearfix
                .detail-desc
                  h2 Online Store
                  p Wide and boxed layou.
                .detail-img
                  img(src='/img/feat-layouts.png', alt='img')

          li.alt
            .container
              .detail-item.clearfix
                .detail-desc
                  h2 Contacts Management
                  p Single Page Application Built with AngularJS.
                .detail-img
                  img(src='/img/feat-app2.png', alt='img')


      .container-fluid.pricing#pricing

        .row-fluid
          .pricing-table.row-fluid.text-center

            .col-xs-12.col-sm-6.col-md-3.col-lg-2
              .plan
                .plan-name
                  h2 Free
                  p.text-muted Perfect for small budget
                .plan-price
                  b FREE
                .plan-details
                  div Unlimited Download
                  div Free Priority Shipping
                  div Unlimited Warranty
                .plan-action
                  button.btn.btn-block.btn-lg.btn-info(href="#") Choose Plan

            .col-xs-12.col-sm-6.col-md-3.col-lg-2
              .plan
                .plan-name
                  h2 Home
                  p.text-muted Perfect for small budget
                .plan-price
                  b $9
                  | &nbsp;/ month
                .plan-details
                  div Unlimited Download
                  div Free Priority Shipping
                  div Unlimited Warranty
                .plan-action
                  button.btn.btn-block.btn-lg.btn-info(href="#") Choose Plan

            .col-xs-12.col-sm-6.col-md-3.col-lg-2
              .plan
                .plan-name
                  h2 Developer
                  p.text-muted Perfect for small budget
                .plan-price
                  b $19
                  | &nbsp;/ month
                .plan-details
                  div Unlimited Download
                  div Free Priority Shipping
                  div Unlimited Warranty
                .plan-action
                  button.btn.btn-block.btn-lg.btn-info(href="#") Choose Plan

            .col-xs-12.col-sm-6.col-md-3.col-lg-2
              .plan.prefered
                .plan-name
                  h2 Freelancer
                  p.text-muted Perfect for small budget
                .plan-price
                  b $49
                  | &nbsp;/ month
                .plan-details
                  div Unlimited Download
                  div Free Priority Shipping
                  div Unlimited Warranty
                .plan-action
                  button.btn.btn-block.btn-lg.btn-warning(href="#") Choose Plan

            .col-xs-12.col-sm-6.col-md-3.col-lg-2
              .plan
                .plan-name
                  h2 Business
                  p.text-muted Perfect for small budget
                .plan-price
                  b $99
                  | &nbsp;/ month
                .plan-details
                  div Unlimited Download
                  div Free Priority Shipping
                  div Unlimited Warranty
                .plan-action
                  button.btn.btn-block.btn-lg.btn-info(href="#") Choose Plan

            .col-xs-12.col-sm-6.col-md-3.col-lg-2
              .plan
                .plan-name
                  h2 Unlimited
                  p.text-muted Perfect for small budget
                .plan-price
                  b $299
                  | &nbsp;/ month
                .plan-details
                  div Unlimited Download
                  div Free Priority Shipping
                  div Unlimited Warranty
                .plan-action
                  button.btn.btn-block.btn-lg.btn-info(href="#") Choose Plan



      .testimonials#testimonials

        #testimonials-carousel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#testimonials-carousel', data-slide-to='0')
            li(data-target='#testimonials-carousel', data-slide-to='1')
            li(data-target='#testimonials-carousel', data-slide-to='2')
            li(data-target='#testimonials-carousel', data-slide-to='3')
            li(data-target='#testimonials-carousel', data-slide-to='4')
          .carousel-inner.text-center
            .item.active
              p Great job! It's simply wonderful!
              small - Comments from user
            .item
              p Very impresive for being the first project here at wrapBootstrap and the very first angularjs theme amazing! Lot of plugins that are useful and not just inflate the package.
              small - Comments from user
            .item
              p Great Job! First Angular JS Template on wrapBootstrap!
              small - Comments from user
            .item
              p Really awesome that you're the first one who creates an AngularJS for wrapBootstrap. I've been looking for one for a long time, and it's really annoying to convert a non AngularJS theme to an AngularJS theme, so thanks for making my life easier.
              small - Comments from user
            .item
              p Amazing! Exact what I looking for.
              small - Comments from user

  //.container
  //  #index-page
  //    img(src='/img/logo.png', width='160')
  //    h1 Welcome
  //    h4 Your only source for all your business or personal needs.
  //    br
  //    p
  //      a(href='/learnmore').btn.btn-lg.btn-primary Learn more...

block javascripts
  script(src="/js/index.js")
  script(src='/js/scripts.js')

  script(src="//localhost:35729/livereload.js")

  script.
    $(document).ready(function() {
      $(".smooth-link").smoothScroll({offset: -50, speed: 750});
    });
