doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width', initial-scale='1.0', maximum-scale='1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    title Glassfrog

    block stylesheets

    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/colors.css')
    link(rel='stylesheet', href='/css/cicons.css')

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/bootstrap/img/favicon.ico")
    link(rel="apple-touch-icon", href="/bootstrap/img/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/bootstrap/img/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/bootstrap/img/apple-touch-icon-114x114.png")

    block head_javascripts

      if !user || !user.isVerified
        script(src="/js/index.js")

        script(src="//localhost:35729/livereload.js")

    block head

body#body(ng-init="user=#{jsonToString(user)};")

  .wrapper(ng-controller='AppCtrl')
    if user && user.isVerified
      .box
        .row.row-offcanvas.row-offcanvas-left

          .breadcrumb(ncy-breadcrumb)

          .column.col-sm-1.col-xs-1.sidebar-offcanvas#sidebar
            div(ng-include="'/partials/sidebar.html'")

          .column.col-sm-11.col-xs-11#main
            div(ng-include="'/partials/navbar.html'")

            //div(ng-include="'/partials/tabbar.html'")

            .padding

              .full

                .row

                  block intro

                .row

                  div(ui-view, ng-cloak)
                    block content

    else
      .box.index
        .row

          .column-index.col-sm-12.col-xs-12#index-main
            include navbar

            .padding-index

              .full-index

                .row

                  block intro

                .row

                  block content

  .navbar.navbar-default.navbar-static-bottom.navbar-fixed-bottom#footer(role="navigation")
    .container-fluid.navbar-inner
      span.text-muted
        | &nbsp;
        span.proper= t('copyright')
        | &nbsp;
        script document.write(new Date().getFullYear().toString())
        a(href='http://arianesoft.ca', target='_blank')
          | &nbsp;ArianeSoft Inc.


block javascripts

  include errors
