extend layout

block content
  .container#login

    #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2

      .panel.panel-default

        .panel-heading
          .panel-title Please sign in

        .panel-body

          #login-alert.alert.alert-danger(style='display: none;')

          form#loginform.form-horizontal(role='form', action="/login", method="post")
            input(type="hidden", name="_csrf", value="#{csrftoken}")

            .form-group
              label.col-md-4.control-label(for='username') Username
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.cic.cic-user32
                  input#login-username.form-control(type='text', name='username', value='', placeholder='username or email', required, autofocus)

            .form-group
              label.col-md-4.control-label(for='password') Password
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.cic.cic-lock
                  input#login-password.form-control(type='password', name='password', placeholder='password', required)

            .form-group
              .col-md-offset-4.col-md-8
                .input-group
                  .checkbox
                    label
                      input#login-remember(type='checkbox', name='rememberme', value='1')
                      | Remember me&nbsp;

            .form-group
              .col-md-offset-4.col-md-8
                input.btn.btn-primary.btn-block(type="submit", value="Login")

            .form-group
              div(style='border-top: 1px solid#888; padding-top: 15px;')
                .text-right
                  | Forgot your password?&nbsp;
                  a(href='/forgot') Reset password
                .text-right
                  | Don't have an account?&nbsp;
                  a(href="/signup") Register Here
