.navbar-main.navbar.navbar-default.navbar-static-top.navbar-fixed-top(role="navigation", ng-controller="NavbarCtrl")
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

    a.navbar-brand.proper(href='/')
      span.cic.cic-home42
      | &nbsp;Glassfrog

  nav.collapse.navbar-collapse

    ul.nav.navbar-nav
      li: a.navbar-link(href='/aboutus') About Us
      li: a.navbar-link(href='/whatisglassfrog') What is Glassfrog?
      li: a.navbar-link(href='/features') Features
      li: a.navbar-link(href='/blog') Blog
      li: a.navbar-link(href='/contactus') Contact Us

    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown")
          span.cic.cic-user32(style="font-size: 18px;")
        ul.dropdown-menu
          li
            a.navbar-link(href='/login')
              span.cic.cic-signin
              | &nbsp;Sign In
          li
            a.navbar-link(href='/signup')
              span.cic.cic-edit32
              | &nbsp;Register

//form.navbar-form.navbar-right(role='search')
//  .form-group
//    input.form-control(type='text', placeholder='Search')
//  .form-group
//    button.btn.btn-default(type='submit') Submit
