.navbar-main.navbar.navbar-default.navbar-static-top.navbar-fixed-top(role="navigation", ng-controller="NavbarCtrl")
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

    a.navbar-brand.proper(href='/')
      //span.cic.cic-home42
      | &nbsp; Glassfrog

  nav.collapse.navbar-collapse

    ul.nav.navbar-nav.navbar-right
      a.btn.btn-default(href="/signup", style="margin: 8px 8px 0px 15px;")
        | Register
      a.btn.btn-primary(href="/login", style="margin: 8px 15px 0px 0px;")
        b Sign in

    ul.nav.navbar-nav.navbar-right
      li: a.navbar-link.smooth-link(href='/#') Home
      li: a.navbar-link.smooth-link(href='/#banner') Demo
      //li: a.navbar-link(href='/whatisglassfrog') What is Glassfrog?
      li: a.navbar-link.smooth-link(href='/#features') Features
      li: a.navbar-link.smooth-link(href='/#details') Details
      li: a.navbar-link.smooth-link(href='/#pricing') Pricing
      li: a.navbar-link.smooth-link(href='/#testimonials') Testimonials
      li: a.navbar-link.smooth-link(href='/#contactus') Contact Us
