ul.nav
  li
    a.visible-xs.text-center(data-toggle="toolbar-offcanvas")
      span.cic.cic-chevron-right2(style="font-size: 16px;")

.hidden-xs#lg-toolbar-menu
  form#editor-components-search(role='search')
    .form-group
      .input-group
        input.form-control(type='text', placeholder='Search', ng-model="search")
        span.input-group-btn
          button.btn.btn-default(type="button")
            span.cic.cic-search

  .component#editor-components-list(ng-repeat="c in list() | filter: search", draggable)
    ng-include(src="'/partials/component-template.html'")

.visible-xs#xs-toolbar-menu
  .component(ng-repeat="c in list() | filter: search", draggable)

    table(id="component-element_{{c._id}}", width="100%", ng-model="c", ng-mouseenter="showpopup(c)", ng-mouseleave="hidepopup(c)")

      td.text-center(id="component-icon-col_{{c._id}}", valign="middle", style="padding-top: 2px; padding-bottom: 2px;")

        span.text-muted.cic(id="component-icon_{{c._id}}", class="cic-{{c.getIcon()}}", style="font-size: 14px;")

    span(ng-init="c.render(null, true)")
