#editor-components-root

  #editor-components
    form#editor-components-search(role='search')
      .input-group.input-group-sm
        input.form-control(type='text', placeholder='Search', ng-model="search", clearable)
        span.searchclear &times;
        span.input-group-btn.hidden-xs.hidden-sm
          button.btn.btn-default(type="button")
            span.cic.cic-search

    .components

      #editor-components-list

        .components-tree(ui-tree="treeOptions", data-empty-place-holder-enabled="false", data-max-depth="1", ng-cloak)

          ol(ng-model="componentCategories", id="tree-components-root", ui-tree-nodes="", data-nodrop)
            li(ng-repeat="c in componentCategories", data-collapsed="true", ui-tree-node, data-nodrop, ng-include="'/partials/component-template.html'")
