.row#editor-content-toolbar

  .navbar.navbar-default#editor-content-toolbar-menu(role="navigation")

    .navbar-header

      button.navbar-toggle.pull-left(type="button", data-toggle="collapse", data-target="#editor-content-toolbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    .collapse.navbar-collapse#editor-content-toolbar-collapse

      ul.nav.navbar-nav

        li
          button.btn.btn-default.navbar-btn(type="button", ng-click="save()")
            span.text-muted.cic.cic-save

        li
          button.btn.btn-default.navbar-btn(type="button", ng-click="refresh()")
            span.text-muted.cic.cic-refresh

        li
          button.btn.btn-default.navbar-btn(type="button", ng-click="getSchema()")
            span.text-muted.cic.cic-uniF002

        li
          button.btn.btn-default.navbar-btn(type="button", ng-click="preview()")
            span.text-muted.cic.cic-preview

        li
          button.btn.btn-default.navbar-btn(type="button", ng-click="alert()")
            span.text-muted.cic.cic-form

        li
          button.btn.btn-default.navbar-btn(type="button", ng-click="choose()")
            span.text-muted.cic.cic-list-alt

        li
          button.btn.btn-default.navbar-btn(type="button", ng-click="quickForm()")
            span.text-muted.cic.cic-fastforward


.row.nodes-tabs

  ul.nav.nav-tabs(role="tablist")

    li.active
      a(href="", ng-click="", ng-if="service.module") {{service.module.name | _.str: 'humanize' | _.str: 'truncate':[8]}} ({{service.module.getRoot().getName() | _.str: 'humanize' | _.str: 'truncate':[8]}})


.row.nodes#editor-content-main(ng-click="clearSelection()", perfect-scrollbar)

  #editor-nodes-root(ng-cloak)

    .nodes-tree-root(ui-tree="treeOptions", data-drag-delay="300")

      ol.nodes-tree(ng-model="rootNodes", id="tree-nodes-root", ui-tree-nodes="")

        li(ng-repeat="n in rootNodes", ui-tree-node, data-collapsed="true", ng-click="clearSelection()", ng-include="'/partials/node-template.html'")
