ul.nav
  li
    a.visible-xs.text-center(data-toggle="toolbar-offcanvas")
      span.cic.cic-chevron-right2(style="font-size: 16px;")

.hidden-xs#lg-toolbar-menu
  form#editor-components-search(role='search')
    .form-group
      .input-group
        input.form-control(type='text', placeholder='Search', ng-model="search")
        span.input-group-btn
          button.btn.btn-default(type="button")
            span.cic.cic-search

  .component#editor-components-list(ng-repeat="c in list() | filter: search", draggable)
    table(id="component-element_{{c._id}}", width="100%", ng-model="c")
      td(id="component-color_{{c._id}}", width="8px", class="{{c.$data.color()}}-back")

      td.text-center(id="component-icon-col_{{c._id}}", width="13%", valign="middle", style="padding:2px;")
        span.text-muted.cic(id="component-icon_{{c._id}}", class="cic-{{c.$data.icon()}}", style="font-size: 18px;")

      td(id="component-label-col_{{c._id}}", style="padding:2px;")
        span(id="component-label_{{c._id}}") {{c.name}}
    span(ng-init="c.$data.render(null, true)")

.visible-xs#xs-toolbar-menu
  .component(ng-repeat="c in list() | filter: search", draggable)
    table(id="component-element_{{c._id}}", width="100%", ng-model="c")
      td.text-center(id="component-icon-col_{{c._id}}", valign="middle", style="padding-top: 2px; padding-bottom: 2px;")
        span.text-muted.cic(id="component-icon_{{c._id}}", class="cic-{{c.$data.icon()}}", style="font-size: 14px;")
    span(ng-init="c.$data.render(null, true)")
