#editor
  .container-fluid
    .row-fluid.row-toolbar-offcanvas.row-toolbar-offcanvas-left#editor-main

      .col-lg-2.col-md-3.col-sm-3.col-xs-3.pull-left#editor-components(ui-view="components")

      .col-lg-8.col-md-6.col-sm-6.col-xs-6#editor-content(ui-view="nodes")

      .col-lg-2.col-md-3.col-sm-3.col-xs-3.pull-right#editor-modules(ui-view="modules")


script.
  function resize_now() {
    var h = $(window).height();
    var hh = h - 224;
    if ($('#editor-content-main').height() != hh) {
      $('#editor-content-main').height(hh);
    }
    hh = h - 152;
    if ($('#editor-components-list').height() != hh) {
      $('#editor-components-list').height(hh);
    }
    if ($('#editor-components-xs-list').height() != hh) {
      $('#editor-components-xs-list').height(hh);
    }
    if ($('#editor-modules-xs-list').height() != hh) {
      $('#editor-modules-xs-list').height(hh);
    }
    if ($('#editor-modules-list').height() != hh) {
      $('#editor-modules-list').height(hh);
    }
  };

  $(document).ready(function() {
    setInterval(function() {
      resize_now();
    }, 250);
  });

  $(window).resize(function() {
    setTimeout(function() {
      resize_now();
    });
  });
