#editor
  .container-fluid
    .row-fluid.row-toolbar-offcanvas.row-toolbar-offcanvas-left#editor-main

      .col-sm-2.col-xs-1.toolbar-offcanvas.pull-left#editor-toolbar(ui-view="components")

      .col-sm-8.col-xs-9#editor-content(ui-view="nodes")

      .col-sm-2.col-xs-2#editor-modules(ui-view="modules")

script.
  function resize_now() {
    var h = $(window).height();
    $('#editor-toolbar').height(h - 104);
    $('#editor-main').height(h - 92);
    $('#editor-content-main').height(h - 168);
    $('#editor-modules').height(h - 104);
  };

  $(document).ready(function() {
    setTimeout(function() {
      resize_now();
    }, 100);
  });

  $(window).resize(function() {
    setTimeout(function() {
      resize_now();
    }, 10);
  });
