.row#editor-content-toolbar

  .navbar.navbar-default#editor-content-toolbar-menu(role="navigation", style="padding-left: 8px; margin-bottom: 8px;")

    button.btn.btn-default.navbar-btn(type="button", ng-click="save()")
      span.text-muted.cic.cic-save(style="font-size: 16px;")
    button.btn.btn-default.navbar-btn(type="button", ng-click="refresh()")
      span.text-muted.cic.cic-refresh(style="font-size: 16px;")
    button.btn.btn-default.navbar-btn(type="button", ng-click="preview()")
      span.text-muted.cic.cic-preview(style="font-size: 18px;")
    button.btn.btn-default.navbar-btn(type="button", ng-click="rebuild()")
      span.text-muted.cic.cic-uniF002(style="font-size: 18px;")
    button.btn.btn-default.navbar-btn(type="button", ng-click="alert()")
      span.text-muted.cic.cic-form(style="font-size: 18px;")
    button.btn.btn-default.navbar-btn(type="button", ng-click="choose()")
      span.text-muted.cic.cic-list-alt(style="font-size: 18px;")
    button.btn.btn-default.navbar-btn(type="button", ng-click="quickForm()")
      span.text-muted.cic.cic-fastforward(style="font-size: 18px;")


.row.nodes#editor-content-main(ng-click="clearSelection()")

  ul#nodes-table(ng-repeat="n in module().getRoot().list()", style="list-style-type:none; padding: 0px !important; margin: 0px !important;")

    include includes/node-template
