@module-color: @control-color;
@module-width: 250px;
@module-height: 32px;

.modules ol {
  list-style-type: none;
  padding: 0px;
}

.module {
  min-height: @module-height;
  height: @module-height;
  background: @module-color;
  font-size: small;
  line-height: 16px;
  cursor: pointer;
}

.module-highlighted {
//  background: lightsteelblue;
}

.module-selected {
  background: @control-selection-color;
  color: @text-selection-color;
}

.module-selected-highlighted {
  background: @control-highlight-color;
  color: @text-highlight-color;
}

.module-color {
//  border-radius: @border-radius-base 0px 0px @border-radius-base;
  width: 8px;
  min-width: 8px;
}

.module-icon-col {
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  width: 24px !important;
  min-width: 24px !important;
  text-align: center;
}

.module-icon {
  font-size: medium;
  vertical-align: middle;
  color: @dark-icon-color;
}

.module-label-col {
//  padding: 2px;
//  min-width: 75px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.module-label {
  color: @text-color;
  font-size: small;
  padding-right: 4px;
  vertical-align: middle;
}

.module-shared-icon-col {
  width: 24px !important;
  min-width: 24px !important;
  text-align: center;
  color: @info-icon-color;
}

.module-shared-icon {
  color: @icon-color;
  font-size: x-small;
  vertical-align: middle;
}

.module-version-col {
  width: 100% !important;
  text-align: right;
}

.module-version {
  font-size: xx-small;
  color: @info-text-color;
  vertical-align: middle;
  padding-right: 2px;
}

.module-modified-color {
  background-color: @light-red-color;
//  border-radius: 0px @border-radius-base @border-radius-base 0px;
  width: 6px;
  min-width: 6px;
}

.module-not-modified-color {
  width: 6px;
  min-width: 6px;
}

.module-xs {
  min-height: @module-height;
  height: @module-height;
  background: @module-color;
  font-size: x-small;
  line-height: 10px;
  cursor: pointer;
}

.module-xs-highlighted {
//  background: lightsteelblue;
}

.module-xs-selected {
  background: @control-selection-color;
  color: @text-selection-color;
}

.module-xs-selected-highlighted {
  background: @control-highlight-color;
  color: @text-highlight-color;
}

.module-xs-color {
//  border-radius: @border-radius-base 0px 0px @border-radius-base;
  width: 8px;
  min-width: 8px;
}

.module-xs-icon-col {
  align-content: center;
  text-align: center;
}

.module-xs-icon {
  font-size: small;
  vertical-align: middle;
  color: @icon-color;
}

.module-xs-shared-icon-col {
}

.module-xs-shared-icon {
  color: @info-icon-color;
  font-size: small;
  vertical-align: middle;
}

.module-xs-label-col {
//  width: 50%;
  padding-left: 4px;
}

.module-xs-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: x-small;
}

.module-xs-version-col {
  padding: 0px;
  width: 100% !important;
  text-align: right;
}

.module-xs-version {
  font-size: xx-small;
  color: @info-text-color;
  text-align: right;
}

.module-xs-modified-color {
  background-color: @light-red-color;
//  border-radius: 0px @border-radius-base @border-radius-base 0px;
  width: 6px;
  min-width: 6px;
}

#editor-modules-root {
  background-color: @module-color;
}

#editor-modules {
}

#editor-modules-search {
}

#editor-modules-list {
  overflow-x: hidden;
  overflow-y: auto;
}

#editor-modules {

}

#editor-modules-xs-list {
//  overflow-x: hidden;
  overflow-y: auto;
}

#editor-modules-xs {

}
