@import "/bower_components/bootstrap/less/variables.less";
@import "_variables.less";

@node-color: @control-color;
@node-width: 150px;
@node-height: 28px;

#editor-nodes-root {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
//  border: thin dotted #b0c4de;
//  background-color: rgba(189, 207, 229, .15);
//  border-radius: @border-radius-base;
}

ol.nodes-tree {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
//  border: thin dotted palevioletred;
//  background-color: rgba(227, 135, 164, .1);
//  border-radius: @border-radius-base;
}

ol.nodes-tree ol {
  list-style-type: none;
  margin: 0px;
  padding-left: 20px;
}

//ol.nodes-tree li.active {
//  border: thin dotted rgba(255, 207, 127, .5);
//  background-color: rgba(255, 207, 127, .05);
//  border-radius: @border-radius-base;
//}

ol.nodes-tree li {
  list-style-type: none;
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
//  border: thin dotted yellow;
//  background-color: rgba(255, 251, 0, .1);
//  border-radius: @border-radius-base;
}

//ol.nodes-tree li.active {
//  border: thin dotted rgba(255, 207, 127, .5);
//  background-color: rgba(255, 207, 127, .05);
//  border-radius: @border-radius-base;
//}

.node-line {
//  border: thin dotted greenyellow;
//  background-color: rgba(139, 247, 0, .1);
//  border-radius: @border-radius-base;
}

.node {
  background-color: @node-color;
  font-size: 12px;
  cursor: pointer;
  min-width: @node-width;
//  width: @node-width;
  min-height: @node-height;
  height: @node-height;
  border-radius: @border-radius-base;
  box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.5);
}

.node-state-icon {
  position: relative;
  display: inline-block;
  width: 0px;
//  height: 0px;
  left: -8px;
  top: -12px;
  font-size: 18px;
  color: @error-color;
  vertical-align: middle;
  text-shadow: 1px 1px 2px @dark-gray-color;
}

.node-icon-col {
//  padding-bottom: 2px;
  width: 28px;
  min-width: 28px;
  text-align: center;
}

.node-icon {
  font-size: 18px;
  vertical-align: middle;
}

.node-link-icon {
  color: @dark-icon-color;
  font-size: small;
  padding-right: 2px;
  vertical-align: middle;
}

.node-shared-icon {
  color: @info-icon-color;
  font-size: 13px;
  padding-right: 3px;
  vertical-align: middle;
}

.node-sharing-icon {
  color: @info-icon-color;
  font-size: 13px;
  padding-right: 3px;
  vertical-align: middle;
}

.node-label-col {
}

.node-label {
//  padding-left: 4px;
  color: @text-color;
  text-shadow: 1px 1px 2px @shadow-color;
  vertical-align: middle;
//  min-width: 50px;
  margin-right: 24px;
}

.node-input {
  font-size: small !important;
  height: 24px !important;
  min-width: 200px !important;
  vertical-align: middle;
}

.node-select {
  font-size: small !important;
  height: 24px !important;
  min-width: 200px !important;
  vertical-align: middle;
}

.node.highlighted {
  background: @control-highlight-color;
  color: @text-highlight-color;
}

.node.selected {
  background: @control-selection-color;
  color: @text-selection-color;
}

.node.highlighted.selected {
  background: @control-selection-color;
  color: @text-selection-color;
}

.node-expand-col {
  min-width: 28px;
  max-width: 28px;
  width: 28px;
}

.node-expand-col-lg {
}

.node-expand {
  margin: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.node-expand-icon {
  font-size: 21px;
  color: @icon-color;
  vertical-align: middle;
}

.node-expand-icon.highlighted {
  font-size: 21px;
  color: @light-icon-color;
}

.node-color-col {
  width: 10px;
  min-width: 10px;
  border-radius: @border-radius-base 0px 0px @border-radius-base;
}

.node-modified {
  width: 4px;
  min-width: 4px;
}

.node-modified.color {
  background: @light-red-color;
  border-radius: 0px @border-radius-base @border-radius-base 0px;
}

.node-parentIcons-col {
//  background-color: #b0c4de;
//  padding-left: 4px;
//  padding-right: 4px;
  padding-right: 4px;
}

.node-parentIcons {
  background: @alt-control-color;
  padding: 2px 2px 3px 2px;
  border-radius: 4px;
  vertical-align: middle;
}

.node-parentIcon {
  color: @light-icon-color;
  padding-left: 1px;
  padding-right: 1px;
  font-size: x-small;
  vertical-align: middle;
}

.node-button-menu {
//  background-color: #ffff00;
  max-height: @node-height;
  min-height: @node-height;
  height: @node-height;
  max-width: 64px;
  min-width: 64px;
  width: 64px;
}

.node-button-icon {
  color: @icon-color;
  font-size: 14px;
}

.node-button-item {
  border: none;
  box-shadow: none;
  background: none;
  font-size: 14px;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

.node-button-item:hover span {
  color: @light-icon-color;
}

.node-menu {

}

.node-menu-item {
  font-size: 14px;
}

.node-menu-icon {
  color: @icon-color;
  padding-right: 16px;
}

.node-menu-label {

}

#editor-content {
//  background-color: rgba(100, 200, 100, 0.25);
  padding: 0px 0px 0px 4px;
}

#editor-content-toolbar-menu {
  border: none;
  box-shadow: none;
  background: none;
}

#editor-content-toolbar-menu .btn {
  font-size: 14px;
}

#editor-content-toolbar-menu.navbar.navbar-default {
//  background-color: rgba(100, 100, 200, 0.25);
  height: 36px;
  min-height: 0px !important;
  margin-bottom: 6px !important;
  padding-top: 2px !important;
}

#editor-content-toolbar-menu.navbar.navbar-default button {
  margin: 0px;
}

#editor-content-toolbar-menu .nav {
  height: 36px !important;
}

#editor-content ul.nav.nav-tabs {
  height: 42px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: none;
}

#editor-content-main {
  border-radius: 4px;
  padding: 12px;
  background-color: @desktop-color;
  overflow: auto;
}

#editor-toolbar {
//  background-color: rgba(100, 200, 100, 0.25);
  margin: 0px !important;
  padding: 0px !important;
  overflow-y: auto;
}

#editor-toolbar > span > ul > li > a {
  margin: 0px !important;
  padding: 2px 2px !important;
}

.node-args-col {
  margin-left: 2px;
  margin-right: 2px;
}

.node-arg {
//  display: inline-block;
  background: @dark-gray-color;
  height: @node-height - 6;
  min-height: @node-height - 6;
  min-width: 0;
  padding: 0px;
  margin-left: 2px;
  margin-right: 2px;
  box-shadow: none;
  border-radius: 4px;
  vertical-align: middle;
}

.node-arg-label-col {
}

.node-arg-label {
  color: @light-text-color;
  font-size: small;
  padding: 0px 4px 0px 4px;
  max-width: 200px;
  min-width: 50px;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node-arg-name-col {
}

.node-arg-name {
  color: @text-color;
  font-size: small;
  font-style: oblique;
  padding: 0px 0px 0px 4px;
  vertical-align: middle;
}

.node-arg-input {
  font-size: small;
  vertical-align: middle;
}

.node-arg-input-enum {
  padding: 0px;
  min-width: 200px;
}

.node-arg-input .selectize-input {
  min-height: 22px;
  max-height: 22px;
  padding-top: 2px !important;
  padding-bottom: 0px !important;
}

.node-arg-input .selectize-dropdown, .node-arg-input-enum .selectize-control, .node-arg-input-enum .selectize-input {
  line-height: 12px !important;
}

.node-arg-input .selectize-dropdown {
  margin-top: 0px !important;
  border-top-left-radius: 4px! important;
  border-top-right-radius: 4px! important;
}

.node-arg-input-string {
  height: 22px;
  min-width: 200px;
  padding: 2px;
}

.node-arg-input-number {
  height: 22px;
  max-width: 50px;
  min-width: 50px;
  padding: 2px;
//  vertical-align: middle;
}

.node-arg-label-number-col .input-group {
  height: 22px;
  max-height: 22px;
  max-width: 50px;
  min-width: 50px;
  line-height: 12px;
  padding: 0px;
  display: inline-table;
  vertical-align: middle;
}

.node-arg-label-number-col .input-group-addon {
  padding: 0px;
}

.node-arg-label-number-col .input-group-btn {
  height: 22px;
  max-height: 22px;
}

.node-arg-label-number-col .btn {
  padding: 0px 8px 0px 8px;
}

.node-arg-input-date {
  height: 22px;
  min-width: 150px;
  padding: 2px;
}

.node-arg-label-col > span {
  display: inline-block;
  width: 100% !important;
  height: 22px !important;
  max-height: 22px !important;
}

.node-arg-label-boolean-col {
  width: 42px;
  min-width: 42px;
  max-width: 42px;
}

.node-arg-input .switch-button-background {
  width: 42px !important;
  height: 22px !important;
}

.node-arg-input .switch-button-button {
  height: 22px !important;
}

.node-arg-input-color {
}

.node-arg-label-color-col {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.node-arg-label-color {
  font-size: xx-small;
  padding-left: 2px;
  padding-right: 2px;
}

.node-arg-input .sp-replacer {
  height: 22px !important;
  max-height: 22px !important;
  width: 50px !important;
//  border: none;
  border-radius: 4px;
  padding: 0px;
}

.node-arg-input .sp-preview {
  height: 16px !important;
  width: 34px !important;
//  border: none;
  border-radius: 2px;
  margin: 2px 0px 0px 2px;
  padding: 0px;
}

.node-arg.highlighted {
//  background: @alt-control-highlight-color;
//  color: @text-highlight-color;
}

.node-arg.selected {
//  background: @alt-control-selection-color;
//  color: @text-selection-color;
}

.node-arg.highlighted.selected {
//  background: @alt-control-selection-color;
//  color: @text-highlight-color;
}
