.node{
  background: whitesmoke;
  font-size: 12px;
  border-radius: @border-radius-base;
  cursor: pointer;
//  border-left: 10px solid transparent;
  box-shadow: 1px 1px 1px rgba(80, 80, 80, 0.5);
  min-width: 250px;
  min-height: 24px;
//  margin-bottom: 4px;
}

.node-icon-col {
//  padding-top: 3px;
//  vertical-align: middle;
}

.node-icon {
  font-size: 18px;
  padding-left: 4px;
  padding-right: 8px;
  vertical-align: middle;
}

.node-link-icon {
  color: #688ec0;
  font-size: 13px;
  padding-right: 3px;
  vertical-align: middle;
}

.node-shared-icon {
  color: #688ec0;
  font-size: 13px;
  padding-right: 3px;
  vertical-align: middle;
}

.node-sharing-icon {
  color: #688ec0;
  font-size: 13px;
  padding-right: 3px;
  vertical-align: middle;
}

.node-label {
//  white-space: nowrap;
  padding: auto;
  padding-right: 4px;
}

.node-label-col {
//  background-color: yellowgreen;
  min-width: 50px !important;
}

.node-input {
}

.node-highlighted {
  background: aliceblue;
}

.node-selected {
  background: lightsteelblue;
}

.node-selected-highlighted {
  background: #ccd9ea;
}

.node-expand {
  color: #d4d4d4;
}

.node-expand-highlighted {
  color: whitesmoke;
}

.node-color {
  border-radius: @border-radius-base 0px 0px @border-radius-base;
}

.node-modified-color {
  background-color: #f3a7a7;
  border-radius: 0px @border-radius-base @border-radius-base 0px;
}

.node-parentIcons {
  background-color: #999999;
  border-radius: 4px;
  padding: 2px;
}

.node-parentIcons-col {
//  background-color: #b0c4de;
  padding-left: 4px;
  padding-right: 4px;
}

.node-parentIcons, .node-parentIcon {
  color: #f5f5f5;
//  padding-top: 8px;
  font-size: 13px;
  padding-left: 2px;
  padding-right: 2px;
}

.tool-icon {
  color: #d4d4d4;
}

.tool-icon-highlighted {
  color: whitesmoke;
}

.tool-menu {
//  background-color: #ffff00;
  min-width: 160px;
}

.tool-menu button {
  padding: 2px 4px 2px 4px;
}

.tool-menu .btn-group > .btn {
  border: none;
  box-shadow: none;
  background: none;
}

.tool-menu .btn-group > .btn:hover > span {
  color: whitesmoke;
}

#editor-content {
//  background-color: rgba(100, 200, 100, 0.25);
  padding: 0px 0px 0px 4px;
}

#editor-content-toolbar-menu {
  border: none;
  box-shadow: none;
  background: none;
}

.row#editor-content-toolbar {
  height: auto !important;
}

#editor-content-toolbar-menu.navbar.navbar-default {
//  background-color: rgba(100, 100, 200, 0.25);
  height: 36px;
  min-height: 0px !important;
  margin-bottom: 6px !important;
  padding-top: 2px !important;
}

#editor-content-toolbar-menu.navbar.navbar-default button {
  margin: 0px;
}

#editor-content-main {
  border-radius: 4px;
  padding: 12px;
  background-color: #4a5b71;
  overflow: auto;
}
