@import "editor.component.less";
@import "editor.node.less";
@import "editor.node.args.less";
@import "editor.module.less";
@import "editor.preview.less";

#editor {
}

#editor-main {
}

.angular-ui-tree-handle {
//  font-weight: normal !important;
//  min-height: @node-height;
//  height: @node-height;
//  line-height: @node-height;
}

.angular-ui-tree-drag {
  z-index: 999;
  .opacity(.75);
}

#editor-main ul.nav-tabs li {
  font-size: smaller;
  color: @text-color;
}
