.module {
//  width: 250px;
  height: 32px;
  background: whitesmoke;
  font-size: 14px;
  cursor: pointer;
}

.module-highlighted {
//  background: lightsteelblue;
}

.module-selected {
  background: lightsteelblue;
}

.module-selected-highlighted {
  background: #ccd9ea;
}

.module-icon-col {
//  padding-top: 3px;
//  vertical-align: middle;
}

.module-icon {
  font-size: 18px;
  padding-left: 4px;
  padding-right: 8px;
  vertical-align: middle;
}

.module-shared-icon {
  color: @gray-light;
  font-size: 13px;
  padding-right: 3px;
  vertical-align: middle;
}

.module-label {
//  white-space: nowrap;
  padding: auto;
  padding-right: 4px;
}

.module-label-col {
//  background-color: yellowgreen;
//  min-width: 50px !important;
}

.module-color {
//  border-radius: @border-radius-base 0px 0px @border-radius-base;
}

.module-modified-color {
  padding-left: 4px;
  background-color: #f3a7a7;
//  border-radius: 0px @border-radius-base @border-radius-base 0px;
}

.module-version {
  font-size: xx-small;
  color: @gray-light;
}
