.navbar-static-top.navbar-fixed-top

  ol.breadcrumb

    li(ng-repeat="step in steps | limitTo:(steps.length-1)")
      a(href="{{step.ncyBreadcrumbLink}}")
        span(ng-i18next="{{'breadcrumb.' + step.ncyBreadcrumbLabel}}")

    li.active(ng-repeat="step in steps | limitTo:-1")
      span(ng-i18next="{{'breadcrumb.' + step.ncyBreadcrumbLabel}}")
