@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/mixins.less";

@repository-color: @control-color;
@repository-width: 400px;
@repository-height: 175px;

.repository-card-container {
//  width: 200px;
  height: @repository-height;
  min-height: @repository-height;
  max-height: @repository-height;
  margin-top: 8px;
  margin-bottom: 8px;
}

.repository-card {
  width: 100%;
  height: 100%;
  background: @repository-color;
  cursor: default !important;
  border-radius: @border-radius-base;
  box-shadow: 2px 2px 5px rgba(80, 80, 80, 0.25);
}

.repository-card thead {
//  background: darken(@repository-color, 4%);
}

.repository-card tfoot {
//  background: darken(@repository-color, 8%);
}

.repository-card-inside-col {
//  padding: 8px;
}

.repository-card-inside {
  width: 100%;
  height: 100%;
}

.repository-color {
  border-radius: @border-radius-base 0px 0px @border-radius-base;
  width: 10px;
  min-width: 10px;
  max-width: 10px;
}

.repository-icon-col {
  text-align: center;
  width: 40px;
  max-width: 40px;
  padding: 4px;
}

.repository-icon {
  vertical-align: middle;
  color: @icon-color;
  font-size: large;
}

.repository-label-col {
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  padding: 4px;
}

.repository-label {
  font-size: small;
  font-weight: bold;
  color: @text-color;
}

.repository-version-col {
  vertical-align: middle;
  text-align: right;
  padding: 4px;
}

.repository-version {
  font-size: small;
  color: @dark-purple-color;
}

.repository-card-info-line > table {
//  background: darken(@repository-color, 8%);
}

.repository-date-col {
//  max-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  text-align: right;
  padding-left: 4px;
  padding-right: 4px;
}

.repository-date {
  font-size: x-small;
  color: @icon-color;
//  color: @info-text-color;
}

.repository-desc-col {
  vertical-align: top;
  height: 100%;
  padding: 4px;
}

.repository-desc {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: small;
  font-style: italic;
  color: @blue-color;
  background: none;
  border: none;
  outline: none;
  resize: none;
}

.repository-creator-col {
//  max-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  padding-left: 4px;
  padding-right: 4px;
}

.repository-creator {
  font-size: x-small;
  color: @icon-color;
}

.repository-installs-col {
//  max-width: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding-left: 4px;
  padding-right: 4px;
}

.repository-installs {
  font-size: x-small;
  color: @icon-color;
}

.repository-button-col {
  vertical-align: middle;
  padding: 4px;
}

.repository-button {
}
