span.sidebar(ng-controller="SidebarCtrl")

  ul.nav.visible-xs.sidebar-menu-xs
    li.sidebar-menu-line
      a.sidebar-menu(data-toggle="offcanvas")
        i.sidebar-menu-icon.cic.cic-chevron-right2

  ul.nav.hidden-xs.sidebar-menu-lg#lg-menu
    li.sidebar-menu-line(ng-repeat="m in sidenavs()")
      a.sidebar-menu(ui-sref-active-eq="active", ui-sref="{{m.name}}", ng-show="!m.sidebarHidden")
        i.sidebar-menu-icon.cic.cic-point-of-interest(ng-show="!m.icon")
        i.sidebar-menu-icon.cic(class="{{m.icon}}", ng-show="m.icon")
        span.sidebar-menu-label.proper {{"nav." + (m.altname ? m.altname : m.name) | i18next}}

  //ul.list-unstyled.hidden-xs.sidebar-footer
  //  li
  //    a(href="http://www.bootply.com")
  //      h3 Bootstrap
  //      i.glyphicon.glyphicon-heart-empty
  //      | Bootply

  ul.nav.visible-xs.sidebar-menu-xs#xs-menu
    li.sidebar-menu-line(ng-repeat="m in sidenavs()")
      a.sidebar-menu(ui-sref-active-eq="active", ui-sref="{{m.name}}", ng-show="!m.sidebarHidden")
        i.sidebar-menu-icon.cic.cic-point-of-interest(ng-show="!m.icon")
        i.sidebar-menu-icon.cic(class="{{m.icon}}", ng-show="m.icon")
