div(ng-controller="SidebarCtrl")

  ul.nav
    li
      a.visible-xs.text-center(data-toggle="offcanvas")
        span.cic.cic-chevron-right2

  ul.nav.hidden-xs#lg-menu
    li(ng-repeat="m in sidenavs()")
      a.proper(ui-sref-active="active", ui-sref="{{m.name}}", ng-href="{{m.url}}")
        i.glyphicon.glyphicon-list-alt
          span(style="padding-left: 6px;") {{"nav." + m.name | i18next}}

  //ul.list-unstyled.hidden-xs#sidebar-footer
  //  li
  //    a(href="http://www.bootply.com")
  //      h3 Bootstrap
  //      i.glyphicon.glyphicon-heart-empty
  //      | Bootply

  ul.nav.visible-xs#xs-menu
    li(ng-repeat="m in sidenavs()")
      a.proper.text-center(ui-sref-active="active", ui-sref="{{m.name}}", ng-href="{{m.url}}")
        i.glyphicon.glyphicon-list-alt
