.container.form-container(ng-controller="DynamicFormCtrl")
  ng-form(name="myForm", ng-submit="onSubmit()", novalidate)

    dyn-form(sf-schema="schema", sf-form="form", sf-model="model", sf-form-dom="myForm")

    .form-group
      button.btn.btn-primary.pull-right(type="submit", ng-click="save()", ng-disabled="!modified()") Save

      button.btn.btn-default.pull-right(type="button", style="margin-right: 8px;", ng-click="cancel()", ng-disabled="!modified()") Reset
