//td(ng-controller='RepositoryCardCtrl')
td

  .repository-card-container

    table.repository-card(ng-model="row")
      tr
        include repository-card-color-template
        td
          table(width="100%", height="100%")
            tr
              include repository-card-icon-template
              include repository-card-label-template
              include repository-card-version-template
              include repository-card-date-template
            tr
              include repository-card-desc-template
            tr
              include repository-card-creator-template
              include repository-card-button-template
