td.repository-button-col(colspan="4")

  span.repository-button.pull-right

    button.btn.btn-xs.btn-info(ng-show="row.canEdit", ng-click="edit(row._id)")
      span.cic.cic-pencil &nbsp;
      | Edit

    button.btn.btn-xs.btn-primary(ng-show="row.canInstall", ng-click="install(row._id)")
      span.cic.cic-download2 &nbsp;
      | Install

    button.btn.btn-xs.btn-primary(ng-show="row.canUninstall", ng-click="uninstall(row._id)")
      span.cic.cic-eject &nbsp;
      | Uninstall

    button.btn.btn-xs.btn-warning(ng-show="row.needsUpdate", ng-click="update(row._id)")
      span.cic.cic-refresh32 &nbsp;
      | Update

    button.btn.btn-xs.btn-success(ng-show="row.canPublish", ng-click="publish(row._id)")
      span.cic.cic-checkmark &nbsp;
      | Publish

    button.btn.btn-xs.btn-warning(ng-show="row.canUnpublish", ng-click="unpublish(row._id)")
      span.cic.cic-x &nbsp;
      | Unpublish

    button.btn.btn-xs.btn-danger(ng-show="row.canDelete", ng-click="delete(row._id)")
      span.cic.cic-trashfull &nbsp;
      | Delete

    button.btn.btn-xs.btn-default(ng-show="row.readme", ng-click="more(row._id)")
      span.cic.cic-search5 &nbsp;
      | More
