td.repository-installs-col

  .repository-installs

    span.cic.cic-floppy2 &nbsp;
    | {{row.installations}}

    button.btn.btn-sm.btn-link(type="button", ng-show="!row.liked", ng-click="like(row._id)")
      span.cic.cic-heart6

    button.btn.btn-sm.btn-link(ng-show="row.liked", ng-click="dislike(row._id)")
      span.cic.cic-heart23

    | {{row.totalLikes}}

