td.text-center(id="component-icon-col_{{c._id}}", width="13%", valign="middle", style="padding:2px;")

  span.text-muted.cic(id="component-icon_{{c._id}}", class="cic-{{c.getIcon()}}", style="font-size: 18px;")
