td.component-xs-icon-col(id="component-icon-col-id_{{c._id}}", name="component-icon-col_{{c._id}}")

  span.component-xs-icon.cic(id="component-icon-id_{{c._id}}", name="component-icon_{{c._id}}", class="cic-{{c.getIcon()}}")
