td.component-icon-col(id="component-icon-col-id_{{c._id}}", name="component-icon-col_{{c._id}}")

  span.component-icon.cic(id="component-icon-id_{{c._id}}", name="component-icon_{{c._id}}", class="{{c.getIcon()}}")
