td.module-xs-shared-col(id="module-share-col-id_{{m._id}}", name="module-share-col_{{m._id}}")

  span.module-xs-shared-icon.cic.cic-cloud32(id="module-shared-icon-id_{{m._id}}", name="module-shared-icon_{{m._id}}", ng-show="m.isShared()")
