td.module-icon-col(id="module-icon-col_{{m._id}}", width="13%", valign="middle", style="padding: 2px;")

  span.module-icon.cic(id="module-icon_{{m._id}}", class="cic-{{m.getIcon()}}", style="font-size: 18px;")
