td.module-creator-col(id="module-creator-col-id_{{m._id}}", name="module-creator-col_{{m._id}}")

  span.module-creator-icon.cic.cic-user32 &nbsp;
  span.module-creator(id="module-creator-id_{{m._id}}", name="module-creator_{{m._id}}") {{m.author}}
