td.module-shared-icon-col(id="module-share-col-id_{{m._id}}", name="module-share-col_{{m._id}}")

  span.module-shared-icon.cic.cic-cloud32(id="module-shared-icon-id_{{m._id}}", name="module-share-icon_{{m._id}}", ng-show="m.isShared()")
