td.module-desc-col(id="module-desc-col-id_{{m._id}}", name="module-desc-col_{{m._id}}", colspan="3")

  textarea.module-desc(id="module-desc-id_{{m._id}}", name="module-desc_{{m._id}}", readonly, perfect-scrollbar, suppress-scroll-x="true") {{m.desc}}
