td.module-xs-icon-col(id="module-icon-col-id_{{m._id}}", name="module-icon-col_{{m._id}}")

  span.module-xs-icon.cic(id="module-icon-id_{{m._id}}", name="module-icon_{{m._id}}", class="cic-{{m.getIcon()}}")
