td.module-shared-col(id="module-share-col_{{m._id}}", align="right", ng-show="m.isShared()", style="padding: 2px;")

  span.text-muted.module-shared-icon.cic(id="module-shared-icon_{{m._id}}", class="cic-cloud32")
