td.module-xs-version-col(id="module-version-col-id_{{m._id}}", name="module-version-col_{{m._id}}")

  span.module-xs-version(id="module-version-id_{{m._id}}", name="module-version_{{m._id}}") v{{m.versionString()}}
