div(id="module-popover-id_{{m._id}}", name="module-popover_{{m._id}}", data-placement="left", data-content="{{m.desc}}", data-container="body")

  table.module(id="module-element-id_{{m._id}}", name="module-element_{{m._id}}", width="100%", ng-model="m", ng-mouseover="setOver(m); showpopup(m);", ng-mouseleave="setOver(null); hidepopup(m);", ng-class="{ 'module-highlighted': isOver(m) && !isSelection(m), 'module-selected': isSelection(m) && !isOver(m), 'module-selected-highlighted': isSelection(m) && isOver(m) }", ng-click="setSelection(m); $event.stopPropagation();")

    include module-color-template

    td

      table.module-inside

        tr

          include module-icon-template
          include module-label-template
          include module-version-template

        tr

          include module-desc-template

        tr

          include module-shared-template
          include module-creator-template

    include module-modified-template
