td.module-icon-col(id="module-icon-col_{{m._id}}", valign="middle", style="padding: 2px; width: 24px; min-width: 24px;")

  span.module-icon.cic(id="module-icon_{{m._id}}", class="cic-{{m.getIcon()}}", style="font-size: 18px;")
