input.node-arg-input-datetime.form-control.input-small(type="text", id="{{a.domId('input-datetime')}}", name="{{a.domName('input-datetime')}}", ng-model="a.value", ng-keyup="keyup($event)", date-time-picker, date-time-picker-options="{ pickDate: true, pickTime: true, icons: {time: 'cic cic-clock5', date: 'cic cic-calendar-empty', up: 'cic cic-arrow-up', down: 'cic cic-arrow-down'} }")
