.node-arg-input.node-arg-input-boolean.switch-wrapper
  input(type="checkbox", id="{{a.domId('input-boolean')}}", name="{{a.domName('input-boolean')}}", switch, ng-model="a.value")

//label(for="{{fields[{%fieldIndex%}].domId('input', $index)}}")
//  | {{fields[{%fieldIndex%}].caption ? fields[{%fieldIndex%}].caption : fields[{%fieldIndex%}].label}}
