spectrum-colorpicker.node-arg-input.node-arg-input-color(options="{showInput: true, showAlpha: true, allowEmpty:true}", format="hex", id="node-arg-color-id_{{a.getName()}}", name="node-arg-color_{{a.getName()}}", ng-model="a.value", ng-click="$event.stopPropagation()", ng-blur="saveEdit()")
