td.node-arg-name-col(id="node-arg-name-col-id_{{a.getName()}}", name="node-arg-element_{{a.getName()}}", ng-if="!a.nolabel || a.nolabel == false")

  .node-arg-name(id="node-arg-name-id_{{a.getName()}}", name="node-arg-name_{{a.getName()}}") {{a.getName()}}:
