input.node-arg-input.node-arg-input-string.form-control.input-small(type="string", id="node-arg-string-id_{{a.getName()}}", name="node-arg-string_{{a.getName()}}", ng-click="$event.stopPropagation()", ng-model="a.value", ng-keyup="keyup($event)", ng-blur="saveEdit()")
