input.node-arg-input-tags.form-control(type="text", selectize="{persist: false, create: true, maxItems: 1000, hideSelected: true}", id="{{a.domId('input-tags')}}", name="{{a.domName('input-tags')}}", ng-model="a.value", options="{{a.value}}")
