td.node-property-label-col
  span.node-property-label(id="node-property-label_{{np.id()}}") {{np.getName()}}

td(id="node-property-expand-icon-col_{{n.id()}}", width="12px")
  span.node-property-expand.cic(id="node-property-expand-icon_{{n.id()}}", ng-if="np.showExpand()", ng-class="{ 'cic-arrow-right8': np.isClosed(), 'cic-arrow-down8': np.isOpened(), 'node-property-expand-highlighted': isExpandOver(np)}", ng-mouseover="setExpandOver(np); $event.stopPropagation();", ng-mouseleave="setExpandOver(null)", ng-click="toggleExpandCollapse(np, $event.altKey); $event.stopPropagation();")

td.node-property-value-col(droppable, ng-class="{ 'node-property-highlighted': isOver(np) && !isSelection(np), 'node-property-selected': isSelection(np) && !isOver(np), 'node-property-selected-highlighted': isSelected(np) && isOver(np) }", ng-mouseover="setOver(np); $event.stopPropagation();", ng-mouseleave="setOver(null); $event.stopPropagation();")

  span(ng-if="!np.hasChildren() || np.isClosed()")

    span.node-property-value.form-control(id="node-property-value_{{np.id()}}", ng-click="edit(np); $event.stopPropagation();", ng-if="np.showInput() && !isEditing(np)")
      span(ng-if="np.showValue()") {{np.getValue()}}
      span.node-icon.node-property-parentIcon.cic(ng-if="np.showIcons()", ng-repeat="cn in np.children()", class="cic-{{cn.getIcon()}}")

    input.node-property-input.form-control.input-xs(type="text", id="node-property-input_{{np.id()}}", ng-click="$event.stopPropagation()", ng-blur="cancelEdit(np)", ng-model="np.value", ng-keyup="keyup($event)", ng-if="np.isInput() && isEditing(np)")

    select2.node-property-select.input-small(id="node-property-select_{{np.id()}}", ng-blur="cancelEdit(np)", ng-model="np.value", ng-keyup="keyup($event)", style="width:98% !important;", field="{width: 'element', options: {{np.getEnum()}} }", ng-change="saveEdit(np)", ng-if="np.isSelect() && isEditing(np)")

    span.switch-wrapper.node-property-check-wrapper(ng-if="np.isBoolean()")
      input.node-property-check(id="node-property-check_{{np.id()}}", ng-model="np.value", type="checkbox", switch, ng-change="saveEdit(np)")

  span.row.nodes.form-control.node-property-value#editor-content-nodeproperty-main(ng-if="np.hasChildren() && np.isOpened()")

    table(width="100%")
      td
        ul#nodes-table(ng-repeat="n in np.list()", style="list-style-type:none; padding: 0px !important; margin: 0px !important;")

          span(ng-include="'/partials/node-template.html'")
