td.node-label-col(id="node-label-col-id_{{n.id()}}", name="node-label-col_{{n.id()}}", ng-click="edit(n, $event)")

  .node-label(id="node-label-id_{{n.id()}}", name="node-label_{{n.id()}}", ng-show="!isEditing(n)") {{n.displayName()}}
  //|  ({{n.flatOrder()}})

  span(ng-show="isEditing(n)")

    input.node-input.form-control.input-small(type="text", id="node-input-id_{{n.id()}}", name="node-input_{{n.id()}}", ng-click="$event.stopPropagation()", ng-blur="cancelEdit()", ng-model="n.name", ng-keyup="keyup($event)", ng-show="!n.hasEnum()")

    select2.node-input.node-select.input-small(id="node-select-id_{{n.id()}}", name="node-select_{{n.id()}}", ng-blur="cancelEdit()", ng-model="n.name", ng-keyup="keyup($event)", field="{config: { dropdownAutoWidth: true }, options: {{getEnum(n)}} }", ng-change="saveEdit()", ng-show="n.hasEnum()")
