select.node-arg-input-enum.form-control(selectize="{openOnFocus: true, allowEmptyOption: true}", id="{{a.domId('input-enum')}}", name="{{a.domName('input-enum')}}", ng-model="a.value", options="{{a.getEnum(a.getNode(), true)}}")
