spectrum-colorpicker.node-arg-input-color(options="{showInput: true, showAlpha: true, allowEmpty:true}", format="hex8", id="{{a.domId('input-color')}}", name="{{a.domName('input-color')}}", ng-model="a.value")
