table.node-line(ng-mouseover="setOver(n); $event.stopPropagation();", ng-mouseleave="setOver(null)")

  td.node-expand-col.node-expand-col-lg

    a.node-expand(type="button", ng-show="n.hasChildren()", ng-mouseover="setExpandOver(n); $event.stopPropagation();", ng-mouseleave="setExpandOver(null)", ng-click="n.toggle($event.altKey); $event.stopPropagation();")

      span.node-expand-icon.cic(ng-class="{ 'cic-arrow-right8': n.isClosed(), 'cic-arrow-down8': n.isOpened(), 'highlighted': isExpandOver(n) }")

  td.node-content-col

    table.node(id="node-element-id_{{n.id()}}", name="node-element_{{n.id()}}", ng-click="setSelection(n); $event.stopPropagation();", ng-dblclick="n.toggle(); $event.preventDefault(); $event.stopPropagation();", ng-class="{ 'highlighted': isOver(n), 'selected': isSelection(n) }", render-node="n", ng-model="n")

      td.node-handle-col(ui-tree-handle)
        table

          include node-color-template

          include node-icon-template

          include node-label-template

          td.node-filler

          include node-parenticons-template

          include node-args-template

          include node-modified-template

    include node-menu-template

ol.nodes-tree(ng-if="n.isOpened()", ng-model="n.nodes", ui-tree-nodes="")

  li(ng-repeat="n in n.nodes", data-collapsed="true", ui-tree-node, ng-include="'/partials/node-template.html'")
