td.node-arg-name-col(id="{{a.domId('name-col')}}", name="{{a.domName('name-col')}}", ng-if="a.getLabel()")

  span.node-arg-name(id="{{a.domId('name')}}}", name="{{a.domName('name')}}") {{a.getLabel()}}:
