td.node-args(ng-if="n.hasArgs()")

  table

    td(ng-repeat="a in n.argsToArray()")

      table(id="{{a.domId()}}", name="{{a.domName()}}", ng-controller="EditorNodeArgEditCtrl")

        include node-arg-name-template

        td(ng-if="!a.noinput || a.noinput == false")

          table.node-arg(ng-click="$event.stopPropagation();", ng-mouseover="setOver(a); $event.stopPropagation();", ng-mouseleave="setOver(null); $event.stopPropagation();", data-nodrag)

            include node-arg-label-template
