form.form-inline.node-arg-input-icon-group(role="form")

  .form-group.has-feedback

    input.node-arg-input.node-arg-input-icon.form-control.input-sm(type="text", iconpicker, options="{hideOnSelect: true, inputSearch: true, mustAccept: false}", id="{{a.domId('input-icon')}}", name="{{a.domName('input-icon')}}", ng-model="a.value", ng-click="$event.stopPropagation()")

    span.node-arg-input-icon.node-arg-input-icon-icon.form-control-feedback(ng-class="a.getLabelClass()")
