td

  table(width="99%")

    tr

      include node-icon-template

      td.node-label-col(id="node-label-col_{{n.id()}}", ng-click="edit(n); $event.stopPropagation();")

        .node-label(id="node-label_{{n.id()}}", ng-show="!isEditing(n) || !canEdit(n)") {{n.displayName()}}
        //|  ({{n.flatOrder()}})

        input.node-input.form-control.input-small(type="text", id="node-input_{{n.id()}}", style="height: 24px !important; width:98% !important;", ng-click="$event.stopPropagation()", ng-blur="cancelEdit(n)", ng-model="n.name", ng-keyup="keyup($event)", ng-show="canEdit(n) && isEditing(n) && !n.getComponent().valueKind()")

        select2.node-input.input-small(id="node-select_{{n.id()}}", ng-blur="cancelEdit(n)", ng-model="n.name", ng-keyup="keyup($event)", style="width:98% !important;", field="{width: 'element', options: {{editOptions(n)}} }", ng-change="saveEdit(n)", ng-show="canEdit(n) && isEditing(n) && n.getComponent().valueKind()")

      include node-parenticons-template

    tr(ng-if="n.hasProperties(true)")

      td(width="24px")

      include node-properties-template
