td.node-button-menu.node-tool-menu-col(id="node-tool-menu-col-id_{{n.id()}}", name="node-tool-menu-col_{{n.id()}}", style="padding-left: 8px;")

  .btn-group(ng-show="isOver(n)")

    button.btn.btn-sm.node-button-item(type="button", ng-click="n.$data.remove()", ng-hide="n._system")
      span.node-button-icon.cic.cic-trashcan2

    button.btn.btn-sm.node-button-item.dropdown-toggle(type="button", data-toggle="dropdown", data-model="{{n}}")
      span.node-button-icon.cic.cic-menu23


    ul.dropdown-menu.node-menu(id="node-menu", role="menu")

      li.node-menu-item(id="node-menu-copy")
        a(href="", ng-click="copy(n)")
          span.node-menu-icon.cic.cic-copy
          | Copy

      li.node-menu-item(id="node-menu-cut")
        a(href="", ng-click="cut(n)", ng-hide="n._system")
          span.node-menu-icon.cic.cic-cut
          | Cut

      li.node-menu-item(id="node-menu-paste")
        a(href="", ng-click="paste(n)")
          span.node-menu-icon.cic.cic-paste
          | Paste

      li.divider(ng-hide="!n.canShare()")

      li.node-menu-item(id="node-menu-share")
        a(href="", ng-click="share(n)", ng-hide="!n.canShare()")
          span.node-menu-icon.cic.cic-cloud32
          | Share...

      li.divider

      li.node-menu-item(id="node-menu-generate")
        a(href="", ng-click="n.generate()")
          span.node-menu-icon.cic.cic-code2
          | Generate code...

      li.divider

      li.node-menu-item(id="node-menu-moveUp")
        a(href="", ng-click="moveUp(n)")
          span.node-menu-icon.cic.cic-uniF48A
          | Move up

      li.node-menu-item(id="node-menu-moveDown")
        a(href="", ng-click="moveDown(n)")
          span.node-menu-icon.cic.cic-uniF48B
          | Move down

      li.divider

      li.node-menu-item(id="node-menu-expandAll")
        a(href="", ng-click="expandAll(n)")
          span.node-menu-icon.cic.cic-plus32
          | Expand All

      li.node-menu-item(id="node-menu-collapseAll")
        a(href="", ng-click="collapseAll(n)")
          span.node-menu-icon.cic.cic-minus42
          | Collapse All
