select.node-arg-input.node-arg-input-enum.form-control(selectize="{openOnFocus: true}", id="node-arg-enum-id_{{a.getName()}}", name="node-arg-enum_{{a.getName()}}", ng-click="$event.stopPropagation()", ng-model="a.value", options="{{a.getEnum()}}")
