select.node-arg-input-multi.form-control(selectize="{openOnFocus: true, allowEmptyOption: false, maxItems: a.getMulti().length, hideSelected: true}", id="{{a.domId('input-multi')}}", name="{{a.domName('input-multi')}}", ng-model="a.value", options="{{a.getMulti(true)}}")
