input.node-arg-input-string.form-control.input-small(type="string", id="{{a.domId('input-string')}}", name="{{a.domName('input-string')}}", ng-click="$event.stopPropagation()", ng-model="a.value", ng-keyup="keyup($event)", auto-size)
