td.node-icon-col(id="node-icon-col-id_{{n.id()}}", name="node-icon-col_{{n.id()}}")

  span.text-muted.node-icon.cic(id="node-icon-id_{{n.id()}}", name="node-icon_{{n.id()}}", class="cic-{{n.getIcon()}}")
